@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  transition: all .3s;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for all */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-grey: #808080;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-blue1: #2ebcf0;
  --clr-blue2: #269fe3;
  --clr-blue3: #249adf;
  --clr-blue4: #1c7cc4;
  --clr-blue5: #135ba5;
  --clr-blue6: #1b3568;
  --clr-blue7: #16274f;
  --clr-facebook: #4267b2;
  --clr-linkedin: #0077b5;
  --clr-twitter: #1da1f2;
  --clr-youtube: #ff0000;
  --clr-border: rgba(128, 128, 128, 0.2);
}

span {
  display: inline-block;
}

input[type],
textarea,
button {
  border: none;
  display: inline-block;
  outline: none;
}

::first-letter {
  text-transform: uppercase;
}

::placeholder {
  color: var(--clr-grey);
  font-size: 11px;
  text-transform: capitalize;
}

.section-subtitle {
  color: var(--clr-blue6);
  font-size: 12px;
}

.section-heading {
  color: var(--clr-blue4);
  font-size: 21px;
}

.section-heading a {
  margin: 9px 0 7px;
  color: var(--clr-blue4);
  font-size: 15px;
}

.section-heading a:hover {
  color: var(--clr-blue6);
}

.section-date {
  margin-bottom: 5px;
  color: var(--clr-grey);
  font-size: 12px;
  text-transform: capitalize;
}

.section-para {
  color: var(--clr-blue7);
  font-size: 10px;
  word-spacing: 1px;
}

.button {
  padding: 8px 37px;
  border-radius: 2px;
  background-color: var(--clr-blue2);
  color: var(--clr-white);
  font-size: 11px;
}

.button:hover {
  background-color: var(--clr-blue6);
}

p {
  line-height: 1.5;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 70.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  position: relative;
}

.header-top {
  background: linear-gradient(to right, var(--clr-blue5), var(--clr-blue6));
}

.header-top .wrapper {
  padding: 28px 0 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top .input-group input {
  width: 172px;
  padding: 6px 5px 6px 10px;
  border-top: 1px solid var(--clr-blue2);
  border-bottom: 1px solid var(--clr-blue2);
  background-color: var(--clr-white);
}

.header-top .input-control input {
  padding: 7px 14px 8px;
  transition: all .3s;
  background-color: var(--clr-blue2) ;
  color: var(--clr-white);
  font-size: 12px;
  text-transform: capitalize;
}

.header-top .input-control input:hover {
  background-color: var(--clr-blue4);
}

/* menu toggle start */

.menu-toggle {
  width: 32px;
  height: 32px;
  display: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  position: relative;
  transition: all .3s;
  background-color: var(--clr-blue7);
  text-indent: -99999px;
}

.bar::before,
.bar::after {
  content: '';
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  transition: all .3s;
  background-color: inherit;
}

.bar::before { top: 14px; }
.bar::after { top: 28px; }

.menu-toggle:hover .bar {
  transform: translateY(14px) rotate(45deg) scale(1.1);
}

.menu-toggle:hover .bar::before { top: 100px; }

.menu-toggle:hover .bar::after {
  top: 0;
  transform: rotate(-90deg);
}

/* menu toggle end */

nav {
  background: linear-gradient(to right, var(--clr-blue2), var(--clr-blue5), var(--clr-blue2));
}

nav ul {
  display: flex;
}

nav li {
  padding: 5px 0 7px;
  transition: all .3s;
}
nav li:hover {
  background-color: var(--clr-blue2);
}

nav li:nth-child(2){
  background-color: var(--clr-blue2);
}

nav li a {
  padding: 0 10px;
  color: var(--clr-white);
  font-size: 12px;
  border-right: 1px solid var(--clr-blue2);
}

nav li:last-child a {
  border-right: none;
}

nav a[title="Treasury Network"] {
  text-transform: capitalize;
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

main .wrapper {
  padding: 24px 0 27px;
  display: flex;
  justify-content: space-between;
}

/* main content section starts here */

main .main-content {
  flex-basis: 72%;
}

/* banking relationship section starts here */

.banking-relationship {
  padding: 0 0 15px;
  border-bottom: 1px solid var(--clr-border);
}

.banking-relationship .section-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid var(--clr-border);
}

.banking-relationship-content {
  padding: 12px 10px 12px 18px;
  flex-basis: 44.8%;
}

.banking-relationship-content a {
  color: var(--clr-blue4);
  font-size: 21px;
  text-transform: capitalize;
}

.banking-relationship figure {
  flex-basis: 55.2%;
}

/* banking relationship section ends here */

/* cash & investment section starts here */

.cash-investment .section-wrapper {
  padding: 15px 0;
  border-bottom: 1px solid var(--clr-border);
  display: flex;
  justify-content: space-between;
}

.cash-investment article {
  padding: 0 0 13px 0;
  flex-basis: 30.2%;
  position: relative;
}

.cash-investment article:nth-child(3n - 1)::before,
.cash-investment article:nth-child(3n - 1)::after {
  content: '';
  width: 115%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.cash-investment article:nth-child(3n - 1)::before {
  border-left: 1px solid var(--clr-border);
}

.cash-investment article:nth-child(3n - 1)::after {
  border-right: 1px solid var(--clr-border);
}

.cash-investment article figure {
  margin-bottom: 5px;
}

/* cash & investment section ends here */

/* must see section starts here */

.must-see .section-wrapper {
  padding: 17px 0;
  border-bottom: 1px solid var(--clr-border);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.must-see .must-see-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.must-see-slider .control {
  flex-basis: 2.5%;
  position: relative;
  font-size: 30px;
  text-indent: -99999px;
  cursor: pointer;
}

.must-see-slider .control:hover::before {
  color: var(--clr-blue6);
}

.must-see-slider .control::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s;
  font-family: 'fontAwesome';
  text-indent: 0;
  color: var(--clr-grey);
}

.must-see-slider .prev::before {
  content: '\f104';
}

.must-see-slider .next::before {
  content: '\f105';
}

.must-see-slider .video-slider {
  flex-basis: 95%;
  display: flex;
  justify-content: space-between;
}

.must-see-slider li {
  flex-basis: 31.8%;
}

.must-see-slider li figure {
  margin-bottom: 12px;
  position: relative;
}

.must-see-slider li figure::before {
  content: '\f04b';
  padding: 13px 14px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s;
  background-color: var(--clr-white);
  color: var(--clr-black);
  font-family: 'fontAwesome';
  text-indent: 0;
}

.must-see-slider li figure:hover::before {
  color: var(--clr-grey);
}

.must-see-slider .subtitle-content {
  display: flex;
}

.must-see-slider .section-subtitle,
.must-see-slider .section-heading {
  padding: 0 7px;
} 

.must-see-slider .section-subtitle:first-child {
  border-right: 1px solid var(--clr-blue6);
} 

/* must see section ends here */

/* technology section starts here */

.technology .section-wrapper {
  padding: 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.technology li {
  padding: 0 0 13px 0;
  margin-bottom: 26px;
  flex-basis: 29.5%;
  position: relative;
}

.technology li:nth-child(3n - 1)::before,
.technology li:nth-child(3n - 1)::after {
  content: '';
  width: 115%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.technology li:nth-child(3n - 1)::before {
  border-left: 1px solid var(--clr-border);
}

.technology li:nth-child(3n - 1)::after {
  border-right: 1px solid var(--clr-border);
}

/* technology section ends here */

/* main content section ends here */

/* aside content section starts here */

main aside {
  flex-basis: 26.3%;
}

aside .section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

aside .sign-up-box {
  padding: 13px;
  background: linear-gradient(30deg, var(--clr-blue6) 40%, var(--clr-blue1));
}

.sign-up-box .section-heading {
  margin-bottom: 11px;
  color: var(--clr-white);
  font-size: 17px;
}

.sign-up-box .button {
  width: 100%;
  padding: 8px 0;
  background-color: var(--clr-blue1);
  font-size: 12px;
  text-align: center;
}

.sign-up-box .button:hover {
  background-color: var(--clr-blue3);
}

aside .most-viewed {
  display: flex;
  flex-direction: column;
}

.most-viewed > .section-heading {
  padding: 11px;
  background-color: var(--clr-blue6);
  color: var(--clr-white);
  font-size: 15px;
}

.most-viewed ul {
  padding: 0 10px 10px;
  border: 1px solid var(--clr-border);
}

.most-viewed ul li:not(:last-child) {
  border-bottom: 1px solid var(--clr-border);
}

.most-viewed ul li {
  padding: 10px 0;
}

.most-viewed .section-subtitle {
  font-size: 11px;
}

.most-viewed .section-heading a {
  margin: 5px 0 11px;
}

.most-viewed .section-date {
  font-size: 10px;
}

/* aside content section ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  